.Toolbar {
    height: 100px; 
    width: 100%; 
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #00e6e6; 
    margin-bottom: 30px; 
    
}

.Toolbar ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 

}

.Toolbar li {
    display: inline-block; 
    margin: 40px; 

    
}

.Toolbar a{
    text-decoration: none;
    color: black; 
    font-size: 23px; 
}

.Toolbar a:hover, 
.Toolbar a:active{
    color: #999999; 
}